body
{
    color: #333333;
    font-family: "Lucida Sans Unicode",
    "Lucida Grande", sans-serif;
    border: 1px solid red;
}
h1 {

    background-color: #b8b4b4 ; 


}
h2 {
    border-bottom: 2px solid#333333;
     
}
figure {

    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;

}
p{
    text-align: right;
    
}